/* CSS Reset and Universal Styles */
* {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0;
    margin: 0;
}

/* Root Variables */
:root {
    --color-black-0: #000;
    --color-black-1: #0c0c0c;
    --color-blue-0: #009fff;
    --color-blue-1: #200ea3;
    --color-blue-2: #38419D;
    --color-blue-3: #3887BE;
    --color-blue-4: #52d3d8;
    --color-white-0: #fff;
    --size-default-0: 1rem;
    --size-default-1: 1.2rem;
    --size-default-2: 0.8rem;
    --size-default-3: 24px;
    --size-default-4: 20px;
    --size-default-5: 16px;
    --size-default-6: 12px;
    --size-default-7: 4.5rem;
    --size-default-8: 4rem;
    --size-default-9: 3rem;
    --size-default-10: 4px;
    --font-default-0: 3rem;
    --font-default-1: 2rem;
    --font-default-2: 1.2rem;
    --background-color-0: var(--color-black-0);
    --background-color-1: var(--color-white-0);
    --background-color-2: var(--color-blue-1);
    --text-color-0: var(--color-white-0);
    --text-color-1: var(--color-black-0);
    --border-attribute-0: 1px solid var(--color-white-0);
    --border-attribute-1: 1px solid var(--color-black-0);
    --border-attribute-2: 2px solid var(--color-blue-0);
    --border-radius-0: var(--size-default-3);
    --border-radius-1: var(--size-default-4);
    --border-radius-2: var(--size-default-5);
    --border-radius-3: var(--size-default-10);
    --transform-attribute-0: scale(1);
    --transform-attribute-1: scale(1.1);
    --transition-attribute-0: 0.3s ease-in;
    --position-left-0: 10%;
    --padding-default-0: var(--size-default-6);
    --padding-default-1: var(--size-default-5);
    --margin-default-0: var(--size-default-6);
    --margin-default-1: var(--size-default-5);
    --margin-default-2: 10vh;
    --margin-default-3: 10%;
    --zindex-background: 1;
    --zindex-article: 5;
    --zindex-button: 10;
    --zindex-navbar: 15;
    --drop-shadow: drop-shadow(5px 5px 10px var(--color-black-1));
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Body Styles */
body {
    background-color: var(--background-color-0);
    color: var(--text-color-0);
}
body button {
    border: var(--border-attribute-0);
}
body video {
    width: 100%;
}
body h1 {
    font-size: var(--font-default-0);
    margin: var(--margin-default-2) var(--margin-default-3);
    width: 80%;
}
body footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Input Styles */
input[type="email"], input[type="password"] {
    width: calc(100% - 22px);
    padding: var(--padding-default-0);
    margin: var(--margin-default-0);
    border: var(--border-attribute-0);
    border-radius: var(--border-radius-3);
}

/* Header and Navigation Styles */
header {
    background: var(--background-color-0);
    color: var(--background-color-1);
    padding: var(--padding-default-0);
    text-align: center;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--size-default-9);
    position: sticky;
    top: 0;
    padding: 0 var(--position-left-0);
    background-color: var(--background-color-0);
    border: none;
    z-index: var(--zindex-navbar);
}
header nav ul {
    display: flex;
    list-style-type: none;
}
header nav ul li {
    margin: 0 10px;
}
header nav ul li a {
    color: var(--text-color-0);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-default-2);
}
header nav .logo {
    height: 100%;
    width: 9rem;
}
header nav.scrolled {
    background-color: var(--color-black-1);
    height: var(--size-default-8);
    opacity: 0.5;
}
header .dropdown {
    display: none;
    position: relative;
}
header .dropdown .dropdown-btn {
    background-color: var(--background-color-0);
    color: var(--text-color-0);
    padding: var(--padding-default-1);
    border: none;
    border-radius: var(--border-radius-2);
    cursor: pointer;
    font-size: var(--font-default-2);
}
header .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color-0);
    min-width: 160px;
    box-shadow: var(--box-shadow);
    z-index: var(--zindex-navbar);
    border-radius: var(--border-radius-2);
}
header .dropdown .dropdown-content a {
    color: var(--text-color-0);
    padding: var(--padding-default-1);
    text-decoration: none;
    display: block;
}
header .dropdown .dropdown-content a:hover {
    background-color: var(--background-color-1);
    color: var(--text-color-1);
}

/* Main Content Styles */
main {
    padding: 20px;
    text-align: center;
}
main .qr-code {
    max-width: 200px; /* Adjust this value to make the image smaller or larger */
    width: 100%;
    height: auto;
    margin: 20px auto;
    display: block;
}
/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    header nav ul {
        display: none;
    }
    header .dropdown {
        display: block;
    }
    header nav.scrolled {
        height: 3.5rem;
    }
    header nav.scrolled .logo {
        width: 8rem;
    }
    main {
        padding: 10px;
    }
    main h1 {
        font-size: 2rem;
    }
}
@media (min-width: 769px) {
    header .dropdown-content {
        display: none;
    }
    header .dropdown .dropdown-content.show {
        display: block;
    }
}
